[submodule "arduino_project/Arduino-Makefile"]
	path = arduino_project/Arduino-Makefile
	url = git@github.com:sudar/Arduino-Makefile.git
[submodule "arduino_project/lib/FastLED"]
	path = arduino_project/lib/FastLED
	url = git@github.com:FastLED/FastLED.git
